* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.testimonial-section {
  height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/img/alex-pic3.webp");
    background-size: cover;
    opacity: 0.2;
  }

  h2 {
    font-family: Poppins;
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
  }
}

.testimonial-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
}

ph-testimonial-image-circle {
  width: 40vw;
  --circle-diameter: 100px;
  --background-color: rgba(0, 0, 0, 0.5);
  --font-color: black;
  --font-family: PoppinsLight;
  --heading-font-family: Poppins;
}

@media (orientation: portrait) {
  ph-testimonial-image-circle {
    width: 90vw;
    --circle-diameter: 150px;
    margin-bottom: 3vw;
  }
}

@media (min-width: "990px") {
  ph-testimonial-image-circle {
    width: 50vw;
    --circle-diameter: 140px;
    margin-bottom: 3vw;
    padding: 2vw;
  }
}

@media (min-width: "1050px") {
  ph-testimonial-image-circle {
    width: 50vw;
    --circle-diameter: 150px;
    margin-bottom: 3vw;
    padding: 2vw;
  }
}

@media (min-width: "1200px") {
  ph-testimonial-image-circle {
    width: 50vw;
    --circle-diameter: 170px;
    margin-bottom: 3vw;
  }
}

@media (orientation: portrait) and (max-width: "600px") {
  ph-testimonial-image-circle {
    width: 90vw;
    --circle-diameter: 100px;
    margin-bottom: 3vw;
  }
}

@media (orientation: portrait) and (max-width: "400px") {
  h2 {
    margin-top: 20px;
  }
  ph-testimonial-image-circle {
    width: 90vw;
    --circle-diameter: 90px;
    margin-bottom: 3vw;
  }
}

// ph-testimonial-image-circle#first {
//   --background-color: rgba(0, 0, 0, 0.5);
//   --font-color: black;
//   --font-family: PoppinsLight;
//   --heading-font-family: Poppins;
// }
// ph-testimonial-image-circle#second {
//   --background-color: rgba(0, 0, 0, 0.5);
//   --font-color: black;
//   --font-family: PoppinsLight;
//   --heading-font-family: Poppins;
// }
// ph-testimonial-image-circle#third {
//   --background-color: rgba(0, 0, 0, 0.5);
//   --font-color: black;
//   --font-family: PoppinsLight;
//   --heading-font-family: Poppins;
// }
// ph-testimonial-image-circle#fourth {
//   --background-color: rgba(0, 0, 0, 0.5);
//   --font-color: black;
//   --font-family: PoppinsLight;
//   --heading-font-family: Poppins;
// }
