html {
  scroll-behavior: smooth;
}

.fixed-box {
  width: 50vw;
  max-width: 300px;
  height: 50px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9000;

  color: whitesmoke;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
}
